MyWcfConsumer/MyWcfConsumer/Connected Services/ServiceReference2/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54733/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MySoapService" />
  <xs:element name="AddQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MySoapService" minOccurs="0" name="question" nillable="true" type="q1:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MySoapService" minOccurs="0" name="GetQuestionsResult" nillable="true" type="q2:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MySoapService" minOccurs="0" name="GetQuestionByIdResult" nillable="true" type="q3:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MySoapService" minOccurs="0" name="question" nillable="true" type="q4:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>